.dashboard-layout {
  display: flex;
  width: 100vw;
  height: 100vh;
}
.sidebar {
  background-size: cover;
  background-position: center;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  z-index: 30;
  color: white;
}
.sidebar-overlay {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.7);
  z-index: 0;
}
.sidebar .h-32 {
  background: transparent;
}
.sidebar img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.sidebar.w-16 {
  width: 4rem !important;
}
.sidebar.w-64 {
  width: 16rem !important;
}
.navbar {
  position: fixed;
  top: 0;
  right: 0;
  left: auto;
  z-index: 20;
  height: 4rem;
  width: calc(100% - 16rem);
  flex-wrap: wrap;
}
@media (max-width: 1024px) {
  .navbar {
    width: calc(100% - 4rem);
  }
}
