:80 {
	root * /srv
	encode gzip zstd
	file_server
	try_files {path} /index.html
	header {
		Strict-Transport-Security "max-age=31536000; includeSubDomains; preload"
		X-Content-Type-Options "nosniff"
		X-Frame-Options "DENY"
		Referrer-Policy "no-referrer"
	}
}

